<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiaose.mapper.security.RoleAuthorityMapper">
  <resultMap id="BaseResultMap" type="com.qiaose.entity.security.RoleAuthority">
    <!--@mbg.generated-->
    <!--@Table role_authority-->
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <id column="authority_id" jdbcType="INTEGER" property="authorityId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    role_id, authority_id
  </sql>
</mapper>